.about h2 {
  font-size: 1rem;
  color: var(--main-color);
  margin: 0;
  margin-bottom: 1em;
}

.about {
  align-items: center;
  margin: 0;
  margin-top: 20%;
  margin-bottom: 5%;
}

.about-me {
  width: 35%;
}

.about-me p {
  line-height: 2;
  max-width: 75ch;
  margin: 0;
  margin-bottom: 1em;
}

.tech h3 {
  font-size: 0.85rem;
  font-weight: 600;
  margin: 0;
  margin-bottom: 1em;
}

.tech-tags {
  flex-wrap: wrap;
  font-size: 0.85rem;
  font-weight: 600;
}

.tech-tags span {
  background-color: rgb(231, 231, 231);
  color: rgb(117, 123, 135);
  padding: 1em 1em;
  border-radius: 5px;
  margin-right: 1em;
  margin-bottom: 1em;
}

@keyframes slide-left {
  0%,
  20% {
    transform: translateX(80px);
    opacity: 0;
  }

  35% {
    opacity: 0.8;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.slide-left {
  animation-timing-function: ease-out, linear;
  animation-name: slide-left;
}

.slide-left-fast {
  animation-duration: 0.9s, 0.4s;
}

.slide-left-slow {
  animation-duration: 1.2s, 0.4s;
}

.slide-left-slower {
  animation-duration: 1.5s, 0.4s;
}
