.projects {
  justify-content: center;
  align-items: center;
}

.projects h2 {
  font-size: 1rem;
  color: var(--main-color);
  margin: 0;
  margin-bottom: calc(1em + 5px);
}

.project-grid {
  display: grid;
  grid-gap: 1.5em;
}

.project-item {
  border: 5px solid var(--main-color);
  border-radius: 10px;
  transition: transform 0.4s;
}

.project-wrapper {
  margin: 1em 1em;
}

.project-links {
  justify-content: flex-end;
}

.project-links span a {
  padding: 0.5em 1em;
  border-radius: 15px;
  border: 2px solid rgb(231, 231, 231);
  color: rgb(117, 123, 135);
  font-weight: 600;
  font-size: 14px;
  margin-left: 0.5em;
}

.project-title h3 {
  font-size: 1.5em;
  margin: 0;
  margin-top: 1em;
  transition: color 0.3s linear;
}

.project-description p {
  font-size: 14px;
  margin: 1em 0;
  line-height: 1.5;
}

.project-tech {
  font-size: 14px;
  font-weight: 600;
  color: rgb(117, 123, 135);
  flex: 1;
  flex-wrap: wrap;
  align-items: flex-end;
}

.project-tech span {
  margin-right: 1em;
}

.project-links span a:hover {
  cursor: pointer;
  background-color: rgb(231, 231, 231);
}

.project-item:hover {
  transform: translateY(-10px);
}

@keyframes slide-up-2 {
  0%,
  10% {
    transform: translateY(70px);
    opacity: 0;
  }

  35% {
    opacity: 0.8;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.slide-up-2 {
  animation-timing-function: ease-out, linear;
  animation-name: slide-up-2;
}

@media (min-width: 320px) {
  .project-grid {
    grid-template-rows: 350px;
    grid-template-columns: 350px;
    grid-gap: 1.5em;
  }

  .projects {
    margin: 10% 0;
  }

  .slide-up-2-fast {
    animation-duration: 0.85s, 0.4s;
  }

  .slide-up-2-slow {
    animation-duration: 1.15s, 0.4s;
  }

  .slide-up-2-slower {
    animation-duration: 1.45s, 0.4s;
  }
}

@media (min-width: 768px) {
  .project-grid {
    grid-template-rows: repeat(2, 350px);
    grid-template-columns: repeat(2, 350px);
    grid-gap: 1.5em;
  }

  .slide-up-2-fast {
    animation-duration: 1.15s, 0.4s;
  }

  .slide-up-2-slow {
    animation-duration: 1.15s, 0.4s;
  }

  .slide-up-2-slower {
    animation-duration: 1.15s, 0.4s;
  }
}

@media (min-width: 1100px) {
  .project-grid {
    grid-template-rows: repeat(2, 350px);
    grid-template-columns: repeat(3, 350px);
  }

  .projects {
    margin: 5% 0;
  }

  .slide-up-2-fast {
    animation-duration: 1.25s, 0.4s;
  }

  .slide-up-2-slow {
    animation-duration: 1.55s, 0.4s;
  }

  .slide-up-2-slower {
    animation-duration: 1.85s, 0.4s;
  }
}
