body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

nav {
  display: flex;
  margin: 1.5% 3%;
  font-size: 18px;
  font-weight: 600;
  position: sticky;
  top: 3%;
}

.tabs {
  display: flex;
  flex: 1;
  justify-content: flex-end;
}

.tabs span {
  margin-left: 1.5rem;
}

nav a:hover {
  transition: color 0.4s linear;
  color: orangered;
}
